spring:
  application:
    name: api-gateway
  # Redis Configuration
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}
      database: 0
server:
  port: 8765

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true          # ← ADD THIS
    hostname: localhost               # ← ADD THIS
    ip-address: 127.0.0.1

# JWT Configuration
jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiry: ${JWT_ACCESS_TOKEN_EXPIRY}
  refresh-token-expiry: ${JWT_REFRESH_TOKEN_EXPIRY}
  issuer: ${JWT_ISSUER}

api-gateway:
  secret-key: ${API_GATEWAY_SECRET_KEY}