services:
  mysql: 
    image: mysql:8.0
    container_name: mysql_container
    restart: no
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: ecompass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  kafka: 
    image: apache/kafka:latest
    container_name: kafka_container
    restart: no
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3

  kafka-ui:
    image: kafbat/kafka-ui:latest
    container_name: kafkaui_container
    restart: no
    depends_on:
      - kafka
    ports: 
      - "8080:8080"
    environment: 
      DYNAMIC_CONFIG_ENABLED: true
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092 

  redis:
    image: redis:latest
    container_name: redis_container
    restart: no
    ports: 
      - "6379:6379"
    volumes:
     - redis_data:/data

volumes:
  mysql_data:
  redis_data:
    driver: local
